@page
@model SmartMeterWebApp.Pages.Subscribers.ConfirmationModel
@{
    Layout = "~/Pages/Subscribers/Shared/_LayoutB.cshtml";
}



<br />
<br />

<br />

<div class="alert alert-success">
    <h2>Thank you</h2>
    <p>Thank you for your purchase.</p>
</div>
<br />
