@page
@model SmartMeterWebApp.Areas.Identity.Pages.Account.ConfirmEmailFirstModel
@{
}

    <div>
        <p class="alert alert-danger">
            Please check your email to confirm your password.
        </p>
    </div>